<launch>
  <node name="camera" pkg="usb_cam" type="usb_cam_node">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="camera" />
    <param name="io_method" value="mmap"/>
    <param name="camera_info_url" value="file:///home/alex/work/px4control/track/calibrate-1920x1080.yaml" />
    <param name="autofocus" value="0"/>
  </node>
  <node pkg="image_view" type="image_view" name="image_view" args="image:=/camera/image_raw"/>
</launch>
